#first{
	width: 40%;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 5%;
}
#second{
	width: 40%;
    float: right;
    box-sizing: border-box;
    border: 1px solid black;
    margin-right: 5%;
}
#st-id,#grade,#subject{
	width:500px;
	height:30px;
	font-size:15px;
}
#upload{
	/*width:500px;
	height:30px;
	font-size:15px;*/
	border:0px;
	background-color: rgb(0,204,255);
	outline: none;
	color:#ffffff;
}
#contents{
	width: 500px;
	height: 300px;
	font-size: 15px;
}
#search{
	width:50px;
	height: 100%;
	border:0px;
	background-color: rgb(0,204,255);
	outline: none;
	color:#ffffff;
}
#searchbar{
	font-size: 15px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
#word,#meaning{
	width:500px;
	height:30px;
	font-size:15px;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }